@charset "utf-8";
/* CSS Document */
body {font-size: 12px; color:#6F6F6F; margin:0 auto;}
p, ul, li, h1, h2, h3, h4, h5, h6, span{margin:0px;padding:0px;list-style-type: none; font-size:12px;}
a{color:#fff; text-decoration:none; font-size:14px; font-weight:bold;}
a:hover{color:#009933; text-decoration:underline;}
img{border:none;}

.jubao_doc{ width:412px; height:348px; background:#fff; border:1px solid #B7B7B7; position:relative; left:400px; top:100px;  overflow:hidden; }
.jubao_tit{ font-weight:bold; padding-top:20px; padding-left:68px; overflow:hidden; line-height:25px;}
.jubao_tit .red{color:#9A0B03; font-size:14px; }
.jubao_tit .hei{color:#000; font-size:14px;}
#define{ background:url(../images/huodong/confirm02.gif) -556px -715px no-repeat; width:70px; height:24px; text-align:center; color:#ffffff; line-height:24px; float:left; margin-right:15px; padding-top:1px;}
#define_a{ background:none;}
.jubao_con1{ width:280px; margin:34px auto 0;  height:30px;}
.jubao_con1 p{color:#980106; font-size:14px; font-weight:bold;}
.jubao_con2{ width:296px;  color:#272727; line-height:30px; padding-left:20px; margin-top:10px;}
.jubao_con2 p{ color:#fff; font-size:14px; font-weight:bold;}
.jubao_con2 p a{ color:#FFFC15;}
.button{ width:70px; text-align:center; margin:0 auto;}
.simplemodal-close{ outline:none;}
.wrap{position:relative;}
.button{ text-align:center; margin:0 auto; zoom:1; }
.button1{ text-align:center; zoom:1; }
.button1 *{outline:0;zoom:1; background:#ffffff;}
.jubao_doc p{ margin:5px 0; overflow:hidden; padding-left:68px; line-height:26px;}
.jubao_doc .p{ line-height:22px; margin:2px 0; overflow:hidden;}
.jubao_doc p span{ float:left; font-size:14px; color:#666;}
.jubao_doc p span input{ width:179px; height:24px; border:1px solid #B7B7B7;}
.jubao_doc .btn{ margin-top:20px; text-align:center; overflow:hidden; padding-left:170px;}
.jubao_doc .btn span{ float:left; background:url(../images/huodong/btn1.gif) no-repeat; width:79px; height:22px; line-height:22px; margin-right:5px; text-align:center;}