@charset "utf-8";
/* CSS Document */
body {font-size: 12px; color:#6F6F6F; margin:0 auto;}
p, ul, li, h1, h2, h3, h4, h5, h6, span{margin:0px;padding:0px;list-style-type: none; font-size:12px;}
a{color:#7B7B7B; text-decoration:none;}
a:hover{color:#009933; text-decoration:underline;}
img{border:none;}
.jubao{ width:323px; height:187px; background:url(../images/huodong/confirmbei.gif) -201px -41px no-repeat; opacity:0.2;filter:alpha(opacity=20); -moz-opacity:0.2; position:absolute; z-index:1; text-indent:-999px; display:block;}
.jubao_doc{ width:323px; height:187px; background:url(../images/huodong/bg.jpg) no-repeat; position:relative; z-index:9; }
#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#ffffff; cursor:wait;}
#simplemodal-container {height:187px; width:323px;  background-color:#ffffff;}
#simplemodal-container a {color:#ffffff;}
#simplemodal-container a:hover { text-decoration:none;}
#simplemodal-container a.modalCloseImg {width:24px; height:24px;  z-index:3200; position:absolute; top:11px; right:11px; cursor:pointer;}
#simplemodal-container #basic-modal-content {}
.jubao_tit{ color:#ffffff; height:22px;  font-weight:bold; padding-top:15px; padding-left:11px; }
#define{ background:url(../images/huodong/confirm02.gif) -556px -715px no-repeat; width:70px; height:24px; text-align:center; color:#ffffff; line-height:24px; float:left; margin-right:15px; padding-top:1px;}
#define_a{ background:none;}
.jubao_con1{ width:280px; margin:34px auto 0;  height:30px;}
.jubao_con1 p{color:#980106; font-size:14px; font-weight:bold;}
.jubao_con2{ width:280px; margin:0 auto 30px;  color:#272727; line-height:25px;}
.jubao_con2 p{ margin-top:40px; color:#fff; font-size:14px; font-weight:bold; text-align:center;}
.jubao_con2 p a{ color:#FFFC15;}
.button{ width:70px; text-align:center; margin:0 auto;}
.simplemodal-close{ outline:none;}
.wrap{position:relative;}
.button{ text-align:center; margin:0 auto; zoom:1; }
.button1{ text-align:center; zoom:1; }
.button1 *{outline:0;zoom:1; background:#ffffff;}