@charset "utf-8";
/* CSS Document */
a{ color:#fff; text-decoration:none;}
a:hover{ color:#CCCCCC}
.tMarginLg{ margin-top:10px;}
.w950{ background:url(../../images/huodong/bg.png) repeat-x;}
.w950 #hd,.w950 #bd,.w950 #ft{ width:950px; margin:0 auto;}
.nav-top{ line-height:44px;}
.nav-top .login{ float:left; width:50%; color:#fff; _margin-top:10px; position:relative}
.nav-top legend{ display:none;}
.nav-top .login img{ vertical-align:middle;_margin-top:-4px;}
.nav-top .login .inp{ width:120px; height:19px; border:0; background:url(../../images/huodong/inp-bg.png) no-repeat; padding:2px; margin-right:10px; vertical-align:middle}
.nav-top .login button{text-indent:-999px; border:0; width:50px; height:24px; margin-right:10px; vertical-align:middle; _margin-top:-3px;}
.nav-top .login .sub-btn{ background:url(../../images/huodong/sub-btn.jpg) no-repeat; border:0; width:50px; height:24px; text-indent:-999px; vertical-align:middle; _margin-top:-4px; }
.nav-top .login .zhuc{ background:url(../../images/huodong/zhuc-btn.jpg) no-repeat;}
.nav-top .nav{ float:right; color:#fff;}
.nav-top .nav a{ color:#fff; font-size:14px; margin:0 5px; text-decoration:none;}
.nav-top .nav a.on{ font-weight:bold}
.nav-top .header{ overflow:hidden; clear:both}
.login p{ position:absolute; left:0; _top:-10px;}
.login p span{ margin-right:10px;}
.col_red{ font-size:14px; font-weight:bold}
.login p a{ color:#fff; text-decoration:underline}
.login p a:hover{ color:#ccc; text-decoration:none;}

#bd .left,#bd .right{ float:left;}
#bd .left{ width:680px; margin-right:10px; display:inline;}
#bd .right{ width:260px;}

.lists li{ text-align:center; width:156px; float:left; display:inline; margin-left:10px; margin-bottom:10px;}
.lists li dt{ background:url(../../images/huodong/li-bg.png) no-repeat; padding:7px;}
.lists li dt img{ width:142px; height:172px; display:block;}
.lists li dd{ font-weight:bold; font-size:14px; margin-top:5px;}
.lists li dd.price{ color:#ac0c00;}

.page{ text-align:center; margin-top:25px;}
.page a{ background:#feebb3; font-size:14px; padding:2px 6px; color:#000; text-decoration:none; margin-right:8px;}
.page a.onpage{ color:#fff; background:#ac0b01;}
.page .paging{ background:none; padding:0;}

.mod{ background:#ac0b01;}
.mod .hd{ background:url(../../images/huodong/mod-top.png) no-repeat left top; padding:10px 10px;}
.mod .hd h2{ background:url(../../images/huodong/icon.jpg) no-repeat left top; font-family:"微软雅黑","黑体"; font-size:18px; color:#fff; padding-left:40px; height:34px; line-height:34px;border-bottom:1px dashed #fff; padding-bottom:10px; }
.mod .bd{ background:url(../../images/huodong/mod-bottom.png) no-repeat left bottom; padding:0 15px 10px;}

.txt-list li{ background:url(../../images/huodong/li-bg2.png) repeat-x left center; margin-top:10px;}
.txt-list li:after{content: "";	visibility: hidden;	display: block;	height: 0;clear: both;}
.txt-list li .name{ float:left; background:#ac0b01; padding-right:5px;}
.txt-list li .liwu{ float:right; background:#ac0b01; padding-left:5px;}

.right .txt-list li .name{ color:#fff;}
.right .txt-list li .liwu{ color:#fff;}

/* index */
.w9502{ background:url(../../images/huodong/huod-bg.png) repeat-x;}
.w9502 .right{ overflow:hidden}
.logo{ float:left; width:50%; margin:10px 0 0 10px;}
.mod2 .hd{ background:url(../../images/huodong/icon2.jpg) no-repeat left top; height:41px; font-size:20px; font-family:"微软雅黑","黑体"; line-height:41px; padding-left:55px; color:#595959; border-bottom:1px dashed #acacac; padding-bottom:10px;}
.more{ float:right; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#ac0b01; line-height:25px; margin:20px 10px 0 0 ;}
.more a{ color:#ac0b01}
.mod2 .bd{ padding:0 15px;}
.dlist{ float:left; width:33.3%; margin-top:10px;}
.dlist dt{ font-size:14px; color:#313131; margin-bottom:5px; font-weight:bold}
.dlist dd{ line-height:24px; color:#676767;}
.txt-list2{ float:left; width:40%;}
.txt-list3{ float:right; width:40%;}
.txt-list2 li{ background:url(../../images/huodong/li-bg3.png) repeat-x;}
.txt-list2 li .name,.txt-list2 li .liwu{ background:#fff;}
.txt-list2 li a{ color:#676767}

.fontw{ font-weight:bold;}
.dlist dd.color-r{ color:#AC0B01;}
.dlist dd span{ color:#676767}

.w9502 #bd .right{ width:180px;padding-top:10px; margin-left:20px; display:inline;}
.w9502 .right .rig01{ overflow:hidden;}
.w9502 .right .rig01 .top{ background:url(../../images/huodong/top.gif) no-repeat; overflow:hidden; height:10px;}
.w9502 .right .rig01 .mid{ background:url(../../images/huodong/mid.gif) repeat-y; overflow:hidden; min-height:270px; font-family:"微软雅黑", "黑体"; padding:10px 0 10px 10px;}
.w9502 .right .rig01 .mid p{ line-height:25px; font-size:14px; color:#fff;}
.w9502 .right .rig01 .mid .qq{ background:url(../../images/huodong/tu1.jpg) -10px no-repeat;  height:90px; display:block; text-indent:-999px; margin-top:10px;}
.w9502 .right .rig01 .bot{ background:url(../../images/huodong/bot.gif) no-repeat; overflow:hidden; height:10px;}
.w9502 .nav a:hover{ color:#ddd;}

.dis{ display:none;}
.disp{ display:block}

.ft-nav{ margin-top:10px;}
.ft-nav a{ font-size:12px; font-weight:normal;}
.ft-nav a:hover{ color:#5F5F5F;}