@charset "utf-8";
/* CSS Document */
a{ color:#1F376D; }
a:hover{ color:#1F376D; text-decoration:underline;}

/*通发头*/
.zhlogo-nav{
	text-align:center;}
.zhlogo-nav .zhlogo{ float:left; width:205px; }
.zhlogo-nav .zhnav{ white-space:nowrap; overflow:hidden;_zoom:1;background:#FFFFFF; none repeat scroll 0 0;
border:1px solid #93C7F0;
overflow:hidden;
white-space:nowrap;
margin-top:10px; width:740px;}
.zhlogo-nav .zhnav .zhnav-list{ border:1px solid #fff; background-image:url(../images/daoghang1.jpg) /*repeat-x*/; padding:3px; height:30px; line-height:28px;  overflow:hidden; font-size:12px; color:#000000;}
.zhlogo-nav .zhnav .zhnav-list ul{ /*url(../images/zhnav_list.png) repeat-x;*/ padding-left:5px; overflow:hidden; _zoom:1;/*letter-spacing:3px;*/}
.zhlogo-nav .zhnav .zhnav-list li{width:80px; height:50px; float:left; /*background:url(../images/zhnav_list_li.png) no-repeat right 5px;*/ }
.zhlogo-nav .zhnav .zhnav-list li.noBg{ background:none;}
.zhlogo-nav .zhnav .zhnav-list a{ display:block; color:#000; height:50px;}
.zhlogo-nav .zhnav .zhnav-list a:hover{ background:url(../images/wentiliebiao_.png) repeat-x; color:#FFFFFF; text-decoration:none;}
.zhlogo-nav .zhnav .zhnav-ask{ background-image:url(../images/daohang.jpg); margin-top:0; padding:3px 0; overflow:hidden; _zoom:1; height:50px; line-height:60px;}
.zhlogo-nav .zhnav .zhnav-ask .zhnav-ask-form{ float:left;}
.zhlogo-nav .zhnav .zhnav-ask .zhnav-ask-form fieldset{ display:inline;}
.zhlogo-nav .zhnav .zhnav-ask .zhnav-ask-form legend{ display:none;}
.zhlogo-nav .zhnav .zhnav-ask .zhnav-ask-form input{ float:left; display:inline;}
.zhlogo-nav .zhnav .zhnav-ask .zhnav-ask-form .zhinput-text{ border:1px solid #949494; width:324px; font-size:14px; color:#FFFFFF;height:30px; margin-left:4px; padding-top:10px; padding-left:5px;}
.zhlogo-nav .zhnav .zhnav-ask .zhnav-ask-form .zhinput-submit{ display:block; float:left; border:none; margin-top:4px; width:94px; height:36px; cursor:pointer;}
.zhlogo-nav .zhnav .zhnav-ask .zhnav-ask-form .zhinput-submit01{ background:url(../images/zhsubmit01.png) no-repeat; margin-left:6px;}
.zhlogo-nav .zhnav .zhnav-ask .zhnav-ask-form .zhinput-submit01:hover{ background:url(../images/zhsubmit01-hover.png) no-repeat;}
.zhlogo-nav .zhnav .zhnav-ask .zhnav-ask-form .zhinput-submit02{ background:url(../images/zhsubmit02.png) no-repeat; margin-left:3px;}
.zhlogo-nav .zhnav .zhnav-ask .zhnav-ask-form .zhinput-submit02:hover{ background:url(../images/zhsubmit02-hover.png) no-repeat;}
.zhlogo-nav .zhnav .zhnav-ask .zhnav-ask-info{ float:left; display:inline; margin-left:10px; line-height:16px; color:#FFF;}
.zhlogo-nav .zhnav .zhnav-ask .zhnav-ask-info p{ margin-top:3px; color:#FFF;}
.fudao{ background:url(../images/feidaohang.png); line-height:27px; text-align:left; font-size:12px; display:inline; margin-left:3px;float:left; margin:0 auto; width:950px; text-decoration:none; margin-bottom:8px;}
.fudao ul li{
	width:55px;
	float:left;
    text-decoration:none;
	}
#guanggao{ border:#0099CC solid 1px; width:307px; height:250px;}
/* zhsidebar*/
.qunzu{margin-left:30px; margin-right:20px;}
.qunzu1{margin-right:20px;}
.qunzu2{margin:8px;}
#bannera{ border:#FFFFFF solid 1px; margin:0 auto; width:950px; height:110px; argin-top:10px;  clear:both;}
.aaaa{ width:950px; margin-top:10px;}
#rrr{ margin-left:60px; width:700px; height:180px; margin-top:10px; float:none; }

.anniu{ width:625px; height:100px;}
.tiwen{float:left; margin:15px; display:inline;}
#zhuce{ float:right; width:230px; height:37px;}
#zhuce1{float:right; width:95px; height:37px; margin-top:23px; margin-right:10px;display:inline;}
#zhuce1 a{ background-image:url(../images/bmit01.png) ;float:right; width:95px; height:37px;}
#zhuce1 a:hover{ background-image:url(../images/bmit01-hover.png)}
#zhuce2{ float:right; width:95px; height:37px; margin-top:23px; margin-right:20px;display:inline;}
#zhuce2 a{ background-image:url(../images/bmit02.png) ;float:right; width:95px; height:37px;}
#zhuce2 a:hover{ background-image:url(../images/bmit02-hover.png)}


.zhsidebar{ border:4px solid #C1DDF3; padding-bottom:10px;}
.zhsidebar h2{ background:url(../images/zhsidebar_title.png) repeat-x; padding-left:6px; line-height:32px; color:#1F376D;}

.zhmod01 a{ color:#5F5F5F;}
.zhmod01 h3 a,.zhmod h4 a{ text-decoration:underline;}
.zhmod01 h3 a{ color:#1F376D;}
.zhmod01 h4 a{color:#F76300;}
.zhmod01 .hd span{ float:right;} 
.zhmod01 .hd span a{ color:#949494;}
.zhmod01 a:hover{ color:#1F376D;}
.zhmod01 .hd{background:url(../images/zhmod01.png) repeat-x 0 bottom; overflow:hidden; _zoom:1;}
.zhmod01 .hd h3{ background:#BFDDF5; float:left; padding:3px 10px;}
.zhmod01 .bd{ line-height:20px;margin:0px;}
.zhmod01 .bd h4{position:relative; background:url(../images/zhtag_more.png) no-repeat 93% 5px; clear:both; margin-top:10px; margin-left:10px;}
.zhmod01 .zhtag-list{ position:relative; margin-left:10px; width:172px;}
.zhmod01 .zhtag-list li{ margin:5px 13px 0 0;}
.zhmod01 .zhtag-extra{ position:absolute; left:168px; top:-1px; background:url(../images/zhtag-extra.png) no-repeat; padding-top:10px; width:187px;}
.zhtag-list-extra{ background:url(../images/zhtag-list-extra.png) no-repeat 0 bottom; padding:0 4px 10px 9px; overflow:hidden; _zoom:1;}
.zhmod01 .zhtag-list-extra li{ float:left; display:inline; margin:0 6px 5px 7px; font-size:12px; white-space:nowrap;}
.zhmod01 .zhtag-list-extra li a{ color:#5F5F5F;}
.zhmod01 .zhtag-more{ background:url(../images/zhtag_more.png) no-repeat 93% 9px; display:none;}
.zhmod01_extra .hd{ background-image:url(../images/zhmod01_extra.png);}
.zhmod01_extra .hd h3{ background:#F76300;}
.zhmod01_extra h3 a{ color:#FFF;}

.zhmod02{ border:1px solid #C5DDF1;}
.zhmod02 .hd{ background:url(../images/zhmod02.png) repeat-x; line-height:25px;}
.zhmod02 .hd h3{ padding-left:10px; line-height:25px; font-size:14px; color:#1F376D;}
.zhmod02 .bd{ overflow:hidden;_zoom:1;}
.zhmod02 .zhtext-list{ margin:10px 10px 0;}
.zhmod02 .zhtext-list li{ margin-bottom:7px;}
.zhmod02 .zhtext-list a{ font-size:14px; color:#1F376D;}


.zhmod03{ border:1px solid #C5DDF1;}
.zhmod03 .hd{ background:url(../images/zhmod03.png) repeat-x;}
.zhmod03 .hd ul{ overflow:hidden; _zoom:1;}
.zhmod03 .hd li{ float:left; display:inline; margin-right:10px; padding:0 14px; text-align:center; line-height:25px; font-size:14px; color:#1F376D; cursor:pointer;}
.zhmod03 .hd li.on{ background:#FFF; border:2px solid #C0DDF4; border-bottom:none; font-weight:700;}
.zhmod03 .bd{ border:2px solid #C0DDF4; border-top:0; padding:10px; line-height:22px; color:#5F5F5F;}
.zhmod03 .bd a{ color:#5F5F5F;}


.zhmod04{ border:1px solid #48AB00;}
.zhmod04 .hd{ border-bottom:1px dashed #48AB00;}
.zhmod04 .hd h3{ background:url(../images/zhmod04.png) no-repeat 0 5px; margin-left:12px; padding-left:19px; line-height:28px; font-family:"黑体"; font-size:18px; font-weight:400; color:#1F376D;}
.zhmod04 .hd h3 strong{ font-weight:400; color:#48AB00;}
.zhmod04 .zhtext-list {margin:10px;}
.zhmod04 .zhtext-list li{ background-image:url(../images/zhtext-list-li02.png); margin-bottom:7px;}
.zhmod04 .zhtext-list a{color:#5F5F5F;font-size:14px;}
.lMarginZh{ margin-left:2px;}

.zhmod05{ background:#EBF3FB; border:1px solid #C5DDF1; padding-bottom:5px; overflow:hidden; _zoom:1;}
.zhmod05 .zhtext-list li{ float:left; display:inline; background-image:url(../images/zhtext-list-li02.png); margin-top:0px; margin-left:10px; width:150px;}

.zhmod06{ overflow:hidden; _zoom:1;}
.zhmod06 h4{ margin-left:10px; margin-top:10px; padding-left:20px; font-weight:700;}
.zhmod06 .zhtext-list li{ background-image:url(../images/zhtext-list-li03.png);}
.zhmod06 .zhtext-list li a{ background:#FFF;}
.zhmod06 .zhtext-list li span{ float:right; background:#FFF; color:#949494;}

.zhmod06-extra01{ border-bottom:1px solid #C5DDF1; border-right:2px solid #C5DDF1;}
.zhmod06-extra02{ border-bottom:1px solid #C5DDF1; border-left:3px solid #C5DDF1;}
.zhmod06-extra03{ border-right:2px solid #C5DDF1;}
.zhmod06-extra04{ border-left:3px solid #C5DDF1;}
.zhmod06-extra01 h4{ background:url(../images/zhmod06-title01.png) no-repeat; color:#48AB00;}
.zhmod06-extra02 h4{ background:url(../images/zhmod06-title02.png) no-repeat; color:#E28000;}
.zhmod06-extra03 h4{ background:url(../images/zhmod06-title03.png) no-repeat; color:#00ABA5;}
.zhmod06-extra04 h4{ background:url(../images/zhmod06-title04.png) no-repeat; color:#0000AB;}

.zhbanner{ border:1px solid #C5DDF1;}

.zhtag-list{ _zoom:1;}
.zhtag-list:after{ clear:both; content:""; display:block;}
.zhtag-list li{ float:left; display:inline; white-space:nowrap;}


.zhtext-list li{ background:url(../images/zhtext-list-li01.png) no-repeat 0 50%; padding-left:9px;overflow:hidden; white-space:nowrap;}

.zhpic{ border:1px solid #CADFF2; padding:2px;}
.zhpic img{ display:block;}
.zhpic-text span{ display:block; background:#E6F0F9; margin-top:1px; text-align:center; line-height:15px; color:#1D386F;}

/*main*/
.m-wrap .zhmain{ float:left; width:510px;}
.zhslide-box{ background:#ECF5FC; border:1px solid #C5DDF1; border-right:none;}
.zhslide-box img{ display:block;}

.zhtopic-ex{ padding-bottom:10px;}
.zhtopic-ex .zhpic-text{ float:left; display:inline; margin:10px 0 0 11px;}
.zhtopic-ex .zhpic-text img{ width:107px; height:96px;}
.zhexpert-rec{ padding-bottom:3px;}
.zhexpert-rec .zhpic-text{ float:left; display:inline; margin:8px 0 0 10px;}
.zhexpert-rec .zhpic-text img{ width:84px; height:114px;}
.zhexpert-rec .zhpic-text p{ padding-left:10px; line-height:16px; color:#1F376D;}

.zhnews-temp .zhpic-text{ margin:10px 11px 0;}
.zhnews-temp .zhpic-text img{ width:221px; height:85px;}
.zhnews-temp .zhpic-text span{ background:#4372B9; margin-top:0; line-height:17Ppx; color:#FFF;}
.zhnews-temp .zhtext-list li{ background-image:url(../images/zhtext-list-li02.png);}
.zhnews-temp .zhtext-list a{ color:#5F5F5F;}

.m-wrap .zhextra{ float:left; display:inline; margin-left:10px; width:230px;}

.zhtag-block{ background:#C1DDF3; border:1px solid #92C7F1; overflow:hidden; _zoom:1;}
.zhtag-block .hd,.zhtag-block .bd{ float:left;}
.zhtag-block .hd{ width:60px;}
.zhtag-block .bd{ background:#FFF; margin:2px 0; width:166px; height:101px;}
.zhtag-block .hd li{ background:url(../images/zhtag-block-li.png) no-repeat; padding-left:7px; line-height:35px; font-size:14px; color:#1F376D; }
.zhtag-block .hd li.on{ background:url(../images/zhtag-block-lion.png) no-repeat;}
.zhtag-block .zhtag-list{ margin-top:5px;}
.zhtag-block .zhtag-list li{ margin:0 0 4px 10px;white-space:nowrap;}

.zhquick-ask{ background:url(../images/zhquick_ask.png) no-repeat; padding:54px 17px 0; width:196px; height:143px; *padding-top:53px; *height:144px;}
.zhquick-ask legend{ display:none;}
.zhquick-ask .zhinput-textarea{ border:1px solid #B3C5DD; width:194px; height:89px; overflow:auto;}
.zhquick-ask .zhinput-submit03{ display:block; background:url(../images/zhsubmit03.png) no-repeat; border:none; margin-top:7px; margin-left:50px; width:103px; height:35px;}
.zhquick-ask .zhinput-submit03:hover{ background:url(../images/zhsubmit03-hover.png) no-repeat;}
.zhextra .zhmod02 .zhtext-list a{ font-size:12px; color:#5F5F5F;}
.zhextra .zhmod02 .zhtext-list li{ background-image:url(../images/zhtext-list-li02.png); margin-bottom:8px;}
.zhboard{ padding-bottom:6px;}
.zhboard .zhtext-list{ margin:16px 10px 0;}

/*\\*/ *.zhsidebar{ height:1%;}/**/
/*\\*/ *.zhmod04{ height:1%;}/**/
/*\\*/ *.zhmod02{ height:1%;}/**/
/*\\*/ *.zhnews-temp .zhpic-text{ height:1%;}/**/
/*\\*/ *.zhtext-list{ height:1%;}/**/

/*slide*/
.zhslide-box{ position:relative; _zoom:1; width:254px; overflow:hidden;}
.zhslide-thumb-wrap{ width:4000px; position:relative; overflow:hidden; _zoom:1;}
.zhslide-thumb{ position:relative; float:left; display:inline; margin:4px 3px 5px; _zoom:1;}
.zhslide-thumb img{ display:block; width:246px; height:271px;}
.zhslide-thumb-text{ position:absolute; left:0; bottom:0; background:url(../images/slide.gif) repeat-y;filter:Alpha(opacity=70);opacity:0.7; padding:3px 15px 3px 9px; width:222px; color:#FFF;}
.zhslide-thumb-text a{ color:#FFF;}
.zhslide-thumb-text h4{ font-weight:700;}
.zhslide-thumb-text a:hover{ color:#FFF;}
.zhsilde-num{ position:absolute; right:7px; bottom:7px; color:#FFF;}
.zhsilde-num li{ float:left; clear:both; background:#5388D8; margin-top:4px; width:11px; height:11px; text-align:center; font-size:12px; line-height:11px; cursor:pointer;}
.zhsilde-num li.on{ background:#FFF; color:#5388D8;}


/*menu*/

 #hd .menu{color:#505050;height:30px;line-height:30px;background:url(../images/mhd_bg.gif) repeat-x;*zoom:1;overflow:hidden;}
 #hd .menu a{color:#505050;}
 #hd .menu .welcome{float:left;margin-left:10px;}
 #hd .menu .top-tip{float:left;margin-left:10px;line-height:30px;_display:inline;}
 #hd .menu .top-tip li{float:left;_display:inline;margin:0 5px;background:url(../images/mhdicon.gif) no-repeat 100% 15px;padding-right:5px;}
 #hd .menu .top-tip .help{background:none;}
 #hd .menu .top-line{float:right;margin-right:15px;_display:inline;}
 #hd .menu .top-nav{float:right;}
 #hd .menu .top-nav li{float:left;margin:0 5px;_display:inline;} 
 #hd .menu .top-fav{float:right;margin-left:30px;}
 #hd .menu .top-fav li{float:left;_display:inline;margin:0 5px;background:url(../images/mhdicon.gif) no-repeat 0 -24px;padding-left:18px;}
 #hd .menu .top-fav .setHomePage{background-position:0 -79px}

/*-------- ft ---------------*/
#ft{text-align:center;}
#ft .f-links .hd{height:24px;line-height:24px;background:#f2f2f2;border:1px solid #ddd;}
#ft .f-links .hd h4{font-size:12px;font-weight:bold;}
#ft .f-links .bd{border:1px solid #ddd;border-top:0;*padding-bottom:5px}
#ft .f-links .bd li{width:11%;float:left;white-space:nowrap;overflow:hidden;margin:5px 0;}
#ft .f-links .bd li a{color:#343434;}
#ft .foot-nav{margin:10px 0;}
#ft .copyright{line-height:2;}
#ft .copyright img{vertical-align:middle}


.ques-broad .bd{ padding-bottom:8px; height:182px;}
.ques-broad .zhtext-list{ margin-top:0;}
.ques-broad .zhtext-list li{ margin-bottom:0; line-height:23px;}
.zhexpert-rec{ position:relative; height:148px; overflow:hidden;}
.zhexpert-wrap{ position:relative; height:4000px; overflow:hidden; _zoom:1;}
.zhextra .ques-broad .zhtext-list li{ margin-bottom:0;}
.zhtag-list .zhtag-extra{ display:none;}
.zhnews-temp{ *padding-bottom:2px;}

.t-login{width:380px;position:absolute;top:10px;left:30px; width:380px;cursor:default; overflow:hidden;}
/*- tmod-02 -*/
.tmod-02 .t_center{text-align:center!important;}
.tmod-02 .top{background:url("../images/tct_02_03.gif") repeat-x left top ;display:block;height:14px;margin-left:15px;}
.tmod-02 .tl{background: url("../images/tct_02_01.gif") no-repeat left top ;width:15px;height:14px;margin-left:-15px;display:block;}
.tmod-02 .tr{background:url("../images/tct_02_04.gif") no-repeat right top ;width:9px;height:14px;display:block;}
.tmod-02 .bottom{margin-left:6px;height:7px;border:1px solid #a1bdef;border-top:0 none;background:url("../images/tmod2_bg.png") repeat-x bottom left;}
.tmod-02 .inner{margin:0 0 0 6px;border-left:1px solid #a1bdef;border-right:1px solid #a1bdef;padding:0 7px;background:#e0ecfa;}
.tmod-02 .t-innerWrap{border:1px solid #cfdff8;border-top:0 none;background:#fff;text-align:left;padding:1px;}
.tmod-02 .concern {padding:10px;border-bottom:1px dashed #cfdff8;}
.tmod-02 .concern li {display:inline-block;vertical-align:top;*display:inline;*zoom:1;margin:0 8px;}
.tmod-02 .concern span{display:block;*display:inline;*zoom:1;background:url("../images/tbutton_01.png") no-repeat left top;padding-left:10px;height:19px;line-height:20px;margin:0 2px;}
.tmod-02 .concern span a{display:block;background:url("../images/tbutton_01.png") no-repeat right top;padding-right:10px;font-size:14px;color:#fff;text-decoration:none;text-align:center;}
.tmod-02 h4{color:#ef760d;font-weight:bold;margin:10px 16px;}
.tmod-02 .t-rec{margin:0 16px 10px;}
.tmod-02 .t-rec li{margin:2px 0;}
.tmod-02 form{margin:5px 15px;padding:1px;}
.tmod-02 td{padding:5px 0;}
.tmod-02 label{margin-right:10px;}
.tmod-02 input{border:1px solid #cedef5;}
.tmod-02 table span{display:inline-block;height:19px;padding-left:10px;background:url("../images/tbutton_01.png") no-repeat left top;}
.tmod-02 table span input{display:block;height:19px;line-height:19px;padding-right:10px;color:#fff;font-size:14px;border:0 none;background:url("../images/tbutton_01.png") no-repeat right top;}

.t-login .inner{position:relative;}
.t-login .close{position:absolute;top:0;right:15px;background:url(../images/close_btn.gif) no-repeat ;width:13px;height:13px;z-index:10;cursor:pointer;}
.tmod-02 table .tlogin-info{background:none;color:#a1a1a1;}
.tmod-02 table .tlogin-info a{background:none;color:#0b3ecb;}

.temp-iframe{ width:0; height:0; overflow:hidden;}

.ft-flinks {margin-top:20px;}
.ft-flinks .hd {
height:32px;
line-height:32px;
overflow:hidden;
}
.ft-flinks .hd li {
float:left;
margin-right:10px;
}
.ft-flinks .hd li a {
color:#000000;
font-size:14px;
}
.ft-flinks .hd .on a {
background:transparent url(../images/gm-icon.png) no-repeat scroll 50% bottom;
padding-bottom:4px;
color:#FFFFFF;
text-decoration:none;
}
.ft-flinks .hd .on a span {
padding:0 2px;
}
.ft-flinks .hd .on a span {
background:#797979 none repeat scroll 0 0;
border:1px solid #FF4AA9;
padding:0;
}
.ft-flinks .bd {
padding:5px 0;
}
.ft-flinks .bd ul {
line-height:1.8;
}
.ft-flinks .bd li {
float:left;
padding-right:10px;
white-space:nowrap;
}
.ft-flinks .bd a {
color:#606060;
}
.ft-nav {
width:965px;
background:#F3F5F4 none repeat scroll 0 0;
color:#5F5F5F;
height:20px;
line-height:20px;
margin-top:1px;
margin:0 auto;
}
.ft-nav a {
color:#5F5F5F;
padding:0 10px;
}
.copyright {
color:#5F5F5F;
line-height:1.4;
margin-top:15px;
text-align:center;
}

.loginPop{ position:absolute; left:30px; top:30px; _zoom:1; z-index:9999;}
/*- sbmod-09 -*/
.loginPop{width:366px}
.sbmod-09 .t_center{text-align:center!important;}
.sbmod-09 .top{background:url("../images/tct_02_03.png") repeat-x left top ;display:block;height:22px;margin-top:6px;position:relative; _zoom:1;}
.sbmod-09 .tf,.sbmod-09 .tt,.sbmod-09 .tb{background:url("../images/tct_02_05.png") no-repeat;width:15px;height:7px;top:-6px;left:30px;display:block;position:absolute}
.sbmod-09 .tt{top:1px;left:40px;background:none;width:290px;height:20px;line-height:20px;color:#949494;font-size:12px;display:none;text-align:right}
.sbmod-09 .tb{background:url("../images/tct_02_06.png") no-repeat;width:15px;height:15px;left:342px;top:4px;cursor:pointer}
.sbmod-09 .tbHover{background:url("../images/tct_02_07.png") no-repeat!important;}
.sbmod-09 .tl{background: url("../images/tct_02_01.png") no-repeat left top ;width:9px;height:22px;display:block; border-top:#33CCFF solid 1px;}
.sbmod-09 .tr{background:url("../images/tct_02_04.png") no-repeat right top ;width:9px;height:22px;display:block;}
.sbmod-09 .bottom{height:7px;border:1px solid #a1bdef;border-top:0 none;background:url("../images/tmod2_bg.png") repeat-x bottom left;}
.sbmod-09 .inner{border-left:1px solid #a1bdef;border-right:1px solid #a1bdef;padding:0 7px;background:#e0ecfa; height:120px; overflow:hidden;position:relative; _zoom:1;}
.sbmod-09 .t-innerWrap{border:1px solid #cfdff8;border-top:0 none;background:#fff;text-align:left;padding:1px; _zoom:1; height:118px}
.sbmod-09 .concern { margin:0;padding:10px;border-bottom:1px dashed #cfdff8;}
.sbmod-09 .concern li {display:inline-block;vertical-align:top;*display:inline;*zoom:1; margin:0 5px;}
.sbmod-09 .concern span{display:block;*display:inline;*zoom:1;background:url("../images/tbutton_01.png") no-repeat left top;padding-left:5px;height:21px;line-height:20px;margin:0 2px;}
.sbmod-09 .concern span a{display:block;background:url("../images/tbutton_01.png") no-repeat right top;padding-right:5px;font-size:14px;color:#fff;text-decoration:none;text-align:center;}
.sbmod-09 h4{color:#ef760d;font-weight:bold;margin:8px 16px;font-size:14px}
.sbmod-09 .t-rec{margin:0 16px 10px; height:17px; _zoom:1;}
.sbmod-09 .t-rec li{ margin:0; line-height:14px;width:192px;overflow:hidden;white-space:nowrap}
.sbmod-09 .t-rec a{color:#5f5f5f}
.sbmod-09 .fblock{position:absolute;background:#fff9c7;width:117px;height:76px;right:9px;top:43px;border-left:1px dashed #9cbdea;color:#ef760b;text-align:center;font-size:14px}
.sbmod-09 .fblock p{ margin:0;margin-top:8px;line-height:1.5em}
.sbmod-09 .fblock p span{display:block}
.sbmod-09 .fblock p span a{ color:#EF760B;}
.sbmod-09 .t-rec li{margin:2px 0;}
.sbmod-09 form{margin:5px 15px;padding:1px;}
.sbmod-09 td{padding:5px 0;}
.sbmod-09 label{margin-right:10px;}
.sbmod-09 input{border:1px solid #cedef5;}
.sbmod-09 table span{display:inline-block;height:19px;padding-left:10px;background:url("../images/tbutton_01.png") no-repeat left top;}
.sbmod-09 table span input{display:block;height:19px;line-height:19px;padding-right:10px;color:#fff;font-size:14px;border:0 none;background:url("../images/tbutton_01.png") no-repeat right top;}

/*- tmod-pagination -*/
.tmod-pagination {padding: 5px 20px;clear: both;color: #949494;text-align:right;}
.tmod-pagination span {display:inline-block;margin: 0 2px;vertical-align:middle;}
.tmod-pagination form {display: inline;}
.tmod-pagination a {margin: 0 3px;float: left;padding-top: 0px;color:#949494;}
.tmod-pagination .current {color: #f00;font-weight:700;}
/*- global setting -*/
.t_colm{float:left;min-height:1px;width:100%;position:relative;}
.t_cols{margin-left:-100%;width:270px;float:left;position:relative;}


.zhpage {background:#F8F8F8 none repeat scroll 0 0;
font-size:14px;
margin-top:5px;
padding:4px;
text-align:right;}
.zhpage a{ margin:0 5px;}
.zhrec-daily .zhtext-list li{ width:215px; overflow:hidden;}

.g-lastu .zhmod02{ width:252px; overflow:hidden;}
