@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; }
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,input,legend{border:0;outline:0;background:transparent;}
ol,ul{list-style:none}
input, textarea {outline: none;resize: none;}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
:focus{outline:0}
input,textarea,select {outline: none;resize: none;}
em{font-style:normal}
del{text-decoration:line-through}
ul li a:hover,span a:hover{color:#ff6600;}
button, input[type="button"], input[type="submit"] {cursor: pointer;}
a{text-decoration:none;color:#333;}
img{vertical-align:middle;border:none;}
body {font: 14px "SimSun","宋体","Arial Narrow",HELVETICA; _font-family:"宋体"; color:#333;}
p{ line-height:20px;}
.clear { clear:both;}
.clearfix:after { clear:both; content:' '; display:block; font-size:0; line-height:0; visibility:hidden; width:0; height:0}
table{ border-collapse:collapse; border-spacing:0;}  /*coll 设置td 间距离*/
.floatL{float:left;}
.floatR{float:right;}
* html .clearfix, *:first-child+html .clearfix { zoom:1 }
.strong{font-weight: bold;}
a:hover{text-decoration:underline;color:#ff6600;}
.display-none {position: absolute;visibility: hidden;*display: none;}
.inline-block {display: inline-block;*display: inline;zoom: 1;vertical-align: middle;position: relative;*position: static;}
.word-break-all,.break-word {word-wrap: break-word;overflow: hidden;}
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix{zoom:1;}
.fl{float:left}
.fr{float:right}
.rLg{float:right;}
.dlQ{overflow: hidden;}
.dlQ span{margin-right:13px;float:left;}
.dlQ a{color:#585858; font-size:14px; cursor:pointer;}
.dlQ a:hover,.tDtxt  a:hover{color:#ff6600;}
.dlQ span i{width:15px;height:20px;display:block;float:left;margin:9px 3px 0 0;}
.rIcon1 i{background: url(../images/wd_user.png) no-repeat right 0;}
.dlQ .rIcon2 i{background: url(../images/wd_rester.png) no-repeat;margin-top:10px;}
.rIcon2 a{padding-top:2px;}
.dlH{overflow:hidden;color:#fff;font-size:14px;}
.dlH span{margin-right:10px;}
.dlH a{color:#fff;}
.dlH a:hover{color:#ff6600;}
.dlH .gren a{color:#fff;}
.dlH .gren a:hover{color:#ff6600;}
.psIo{position:relative;z-index:100}
.login{width:242px;height:230px;z-index:100;font-size:12px;color:#666;padding:14px 0 0 24px;background:#fff;zoom:1;position:absolute;right:78px;top:43px;}
.sJo{width:20px;height:11px;background:url(../images/sjIcon.png) no-repeat;display:block;position:absolute;left:45px;top:-11px;}
.sClose{width:18px;height:18px; cursor:pointer;display:block;position:absolute;top:10px;right:24px;background: url(../images/close.png);}
.ubD{border: 1px solid #61affd;}
.uInput{width:217px;height:35px;border: 1px solid #61affd;margin-top:12px;}
.uInput span{width:40px;height:35px;float:left;}
.uInput input{width:177px;height:35px;float:left;color:#666;line-height:35px;padding:0;margin:0;border:0;}
.yh{background: url(../images/yhIcon.png) no-repeat center center;}
.mm{background: url(../images/mIcon.png) no-repeat center center;}
.reBd{border:1px solid #c7c6c6;}
.foget{line-height:26px;margin-top: 6px;}
.foget a{color: #0066cc;overflow: hidden;}
.foRa{float: right;margin-right: 24px;}
.qqP{line-height: 26px;margin-top:10px;}
.qqP a{float:right;margin-right: 24px;}
.qqP img{margin-left: 10px;}
.dvBtn{width: 215px;height: 37px;line-height: 37px;text-align: center;margin-top:5px }
.dvBtn input{width: 215px;height: 37px;color:#fff;font-weight: bold;background: url(../images/lDv.png) no-repeat;cursor:pointer;border: none;}
.font{font-family:'Microsoft Yahei',"\5FAE\8F6F\96C5\9ED1";}
.scrollbar {height:35px;line-height:35px;background:#f6f6f6;z-index:1000; border-bottom:1px solid #dcdadc;}
.List_box_Z{ width:1002px; margin:0 auto; zoom:1;}
.List_box_L{ float:left;}
.List_box_L1{ float:left; margin-right:-5px;}
.List_box_L2{ float:left;}
.List_box_L1 li{float:left;padding-right:6px;}
.List_box_L1 li a{color:#585858; font-size:14px;padding:0 12px 0 3px;}
.List_box_R{float:right; position: relative;}
.List_box_L2 li{padding: 0 4px 0 7px;}
.List_box_L2 a{font-size:14px;}
.List_box_li01{margin-right:28px;}
.wd_ks{width:1002px;overflow:hidden;zoom:1;margin:39px auto 0}
.List_box_tul li{float:left; height:15px;line-height:15px;border-right:1px solid #ccc;  }
.List_box_tul li a{color:#7a7a7a; font-size:14px; padding:0 7.3px;}
.List_box_t{width:1002px;margin:0 auto;}
.List_box_bann{display:block;}
.List_box_tul ul{ margin:15px 0 8px 0;overflow:hidden;}
.wd_ly_tw{overflow:hidden; margin-top:20px;}
.list_login{width:374px; float:left;height:32px;border:2px solid #55c7f8;margin-top:3px;position:relative;zoom:1;z-index:11;}
.list_login .sptxt{width:49px;height:30px;_height:32px;text-align:center;cursor:pointer;line-height:32px;_line-height:31px;color:#989898;float:left;background:url(../images_list/srIcon3.png) no-repeat 50px center #f2f2f2;display:block;border:none;border-right:1px solid #e7e7e7;padding-right:15px;text-align:center;font-size:14px;}
.sKey{width:64px;border: 1px solid #41AB25;border-top:none;padding:5px 0;display:none;background:#fff;font-size: 14px;left:-1px;line-height:20px;position: absolute;text-align:center;top: 31px;position: absolute;left: -1px;top:30px;z-index: 9999;}
.sKey li{color:#7C7C7C;line-height: 26px; cursor: pointer;}
.zTw { width:130px; height:36px; background:#ff7a67 url(../images/wd_qu.png) no-repeat 20px center;line-height: 36px;_height: 36px;
  _line-height: 36px;cursor: pointer; position:absolute;top: -2px;right: -153px; border: none;
 }
.zTw span{color:#fff;font-size:16px; margin-left:44px;}
.wd_ly_img1{ margin-right:142px; float:left;}
.wd_ly_img1 img{ float:left;display:block; }
.List_box_L2 li.mainleve{float:left;/*IE6 only*/padding-right:18px;position:relative;} 
.List_box_L2 li.mainleve:hover{background:#dcdad9;}
.List_box_L2 li.mainleve i.current{background:url(../images/list-jt.png) no-repeat;width:9px;display:block; background-position:0px 4px;right:0;top:0px;}
.List_box_L2 li.mainleve i{padding-right:10px;position:absolute;width:9px;height:13px;background:url(../images/list-jt.png) right no-repeat;right:0;top:2px; background-position:0 -7px; margin-top:11px;}
.mainleve a {color:#333; text-decoration:none; line-height:32px; display:block;}
.mainleve a:hover{color:#464646; text-decoration:none;}
.mainleve ul {display:none; position:absolute;left:0px;}
.mainleve li {border-top:1px solid #fff; background:#fff;/*IE6 only*/}
.mainleve span{ color:#fff; font-size:14px; padding:0 5px; display:inline-block;}
.mainleve span a{color:#585858;line-height:35px;display:block;}
.sub_02{border:1px solid #dcdadc; border-top:none; background:#fff;width:152px; height:76px;padding:10px; margin-top:-1px;}
.sub_02 li{ float:left;}
.sub_02 li b{ display:block; font-size:14px;} 
.sub_03{width:430px;overflow:hidden;border:1px solid #dcdadc;background:#fff;padding:10px; border-top:none;  margin-top: -1px;}
.wd_more_li{overflow:hidden;}
.wd_more em{float:left;color:#000; font-weight:bold; margin-right:20px; float:left;}
.wd_more{font-size:14px;display:block;}
.wd_more a{ margin-right:20px; float:left;}
.addwor a{margin-right:14px;}
.wd_more_a{float:left; width:360px; border-bottom:1px solid #dbe6e2;}
.wd_more_a1{float:left; width:250px;}
.sub_03 ul li{padding:0 4px 0 5px;}
.wd_ly_img1 span{background:url(../images/wd_hs.png) no-repeat 0 center;padding-left:13px; letter-spacing:5px;width:82px;height:40px; display:inline-block; line-height:40px;font-size:26px; color:#fff;}
.list_login{width:374px; float:left;height:32px;border:2px solid #1ebfc7;margin-top:3px;position:relative;zoom:1;z-index:11;  margin-left: 152px;}
.list_login .sptxt{width:49px;height:30px;_height:32px;text-align:center;cursor:pointer;line-height:32px;_line-height:31px;color:#989898;float:left;background:url(../images_list/srIcon3.png) no-repeat 50px center #f2f2f2;display:block;border:none;border-right:1px solid #e7e7e7;padding-right:15px;text-align:center;font-size:14px;}
.ztRbtn{width:76px;height:34px;_height:34px;display:block;border:0;font-weight:bold;cursor:pointer;background:#1ebfc7;position:absolute;top:-1px;right:-1px; color:#fff;font-size:16px;}
.ztLt{width:286px;height:30px;line-height:30px;background:url(../images/wd_search.png) no-repeat 8px center;padding-left:30px;border:0;font-size:14px;color:#B6B7B9;}
.ques_xla{ position:relative; z-index:999;}
.line_blu{/overflow:hidden;  margin: 20px 0 0 0; border-top: 1px solid #1ebfc7;}
.w678{ width:678px;}
.w300{width:300px;}
.wd_mian{ background: url(../images/main.png) no-repeat 0 0; padding-left: 17px; margin: 0 0 15px 0;font-family:"宋体"; height: 15px;color:#999; font-size:12px; line-height: 17px;}
.wd_mian span{ margin:-2px 4px; display: block; float: left; font-style:normal; color:#999; font-size:14px;}
.bann{ margin:0 auto; width:960px; padding: 18px 0  13px 0;}
.wd_mian a{color:#333;margin:0 4px;} 
.wd_mian .a_bol{ font-weight:bold;}
.wd_zj{ height:35px;line-height:35px;overflow:hidden; background:#1ebfc7;margin:15px 0 0 0;}
.wd_flz{ text-align:center; margin:0 auto; width:1002px;}
.wd_flz .wd-ts{width:102px;background:#1a9aa1;}
.wd_flz li{width:102px; float:left;}
.wd_flz li:hover{background:#1a9aa1;}
.wd_flz li a{color:#fff; font-size:16px;letter-spacing:2px}
.wd_flz li a:hover{color:#fff;}
.mokd{width:1000px; margin:0 auto;}
/*常见疾病， 热门科室*/
.mTop20{margin-top:20px;}
.wd_pd{ border:1px solid #e4e4e4; }
.wd_pd a{font-size:14px; color:#585858;}
.wd_pd_z {overflow:hidden;}
.wd_pd_z a{color:#666; font-size:12px;}
.wd_pd_z1 a{ margin-right:22px;}
.wd_pd h2{ color:#333; font-size:16px;height:30px;}
.sh{height:32px;line-height:32px;}
.bdisea{height:39px;}
.bdisea a {font-size:16px;width:105px; height:39px;line-height:43px; border-width:0 1px;float:left;
 text-align:center; position:relative;font-family:"microsoft YaHei";}
.bdisea a.indexahover{  cursor:pointer; color:#0eb9c1; text-decoration:none; font-weight:bold;}
.bdisea a.indexahover:after{content:"";position:absolute;width:65px; border-bottom:3px solid #12a6af;top:38px; left:20px; font-weight:bold;}
.wd_qh{border-top:1px solid #e4e4e4;padding:14px 9px 7px 23px;}
.wd_qh a:hover{color:#00c7d3 !important;text-decoration:underline;}
.wd_qh a{margin-right:14px;}
.wd_qh b a{ background:url(../images/hsbg.jpg) no-repeat; width:75px; height:22px;line-height:22px;
 display:inline-block; font-size:12px;text-align: center;  font-weight:normal; color:#1aafb6;}
/*fotter*/
.footer{ text-align:center; padding-bottom:109px;font-size:12px;}
.fomrau{margin:0 auto; text-align:center;}
.footer p{ margin-top:12px;}
.footer p a{ margin:0 10px;color:#666; font-size:12px;}
.he20{ height:20px;  background:#f3f5f4;}
