@charset "utf-8";
/* CSS Document */
.font{font-family:"microsoft YaHei";}
.mr20{ margin-right:20px;}
.mTop{ margin-bottom:18px;}
/*二级科室 推荐专家*/
.quitr_doctor{overflow:hidden; padding:0; border:1px solid #e4e4e4;border-top:3px solid #00d4dd;}
.rquit_line{ border-bottom:1px solid #e4e4e4; padding:8px 0 8px 10px;}
.expert{margin-left:12px; overflow:hidden; font-size:12px; padding-bottom:17px;}
.lie{ overflow:hidden;margin:20px 0 0 0; font-family:"宋体"; position:relative; }
.pr20{ padding-bottom:20px;}
.expert .doc_pic{margin-right:14px;}
.expert .doc_pic a img{ width:80px; height:80px;}
.pagename{font-weight:bold; margin-bottom:10px; font-size:14px;}
.cl999{ color:#999;margin-bottom:10px;}
.ruser_ques{background:url(../images/n_bgm0.jpg) no-repeat; width:63px; height:19px; text-align:center; line-height:19px; position:absolute; top:37px; right:24px;}
/*二级科室 常见用药*/
.drehos{margin-left:12px;}
.more_hos{ overflow:hidden; font-family:"宋体"; font-size:12px; margin:18px 0;}
.drug_pic{ width:100px; height:100px;}
.drug_pic img{ width:100px; height:100px;} 
.qrw159 { width:159px; margin-top:10px;}
.drehos .qrw159 h3 a{font-size:14px;font-family:"宋体"; color:#333;}
.mr10{ margin-right:10px;}
.drehos .drug_pm0{font-family:"宋体"; color:#666; margin-top:10px;}
.drehos .drug_pm0 b{ font-weight:normal; color:#333;}
.drug_pm0 a{color:#ff6600;}
/*二级科室 推荐医院*/
.hos_rpic{ margin-right:10px;}
.more_hos h3 a{color:#333; font-size:12px;}
.more_hos p span{ display:inline;}
.more_hos p{color:#787878; margin-top:4px;}
.more_hos p.smap{ background:url(../images/smap.png) no-repeat 0 3px; padding-left:15px; }
/*二级科室 猜你喜欢*/
.noplim{ border:none; border-top:3px solid #00d4dd;}
.rqure3{ border:1px solid #e4e4e4; border-top:none;border-bottom:none;}
.mle10{margin-left:9px;}
.hottab{margin-top:3px;margin-left:17px;}
.hottab .colo55{color:#555;margin:0 5px;}
.hottab span a{color:#555;}
.hottab span{ display:inline-block;font-size:12px;}
.hottab .hsline{background:url(../images/hsline.jpg) no-repeat 10px 2px;}
/*二级科室 热点文章*/
.r_hot{ overflow:hidden; margin-top:25px;}
.r_hot li{ float:left;margin:0 10px 15px 15px;}
.r_hot li img{width:120px; height:90px;}
.r_hot li  span{ margin-top:7px; display:block; text-align:center;}
.r_hot li  span a{ font-size:14px;}
.er_news { overflow:hidden;  padding:18px 0 8px 10px;}
.er_news li{background:url(../images/icon.png) no-repeat -9px -124px;overflow: hidden;zoom: 1;vertical-align: bottom;font-family:"宋体"; padding-left:10px;  margin-bottom:12px;}
.er_news li a{ color:#333;}
.er_news li span {float:left;margin-right: 8px;}
.er_line{ border-top:1px dashed #ccc;}
/*全部科室 推荐专家 ,问答详情 推荐专家 */
.doc_w166{ width:166px;font-family:"宋体";}
.pagna14{ font-size:14px; margin-bottom:3px;  color: #000;}
.doc_pom{ border:1px solid #ccc; padding:2px;}
.pagna12{ font-size:12px; line-height:16px;}
.pagna12 span a{ color:#666666;}
.ruser_ques89{background:url(../images/n_bg1.jpg) no-repeat; width:89px; height:23px; line-height:23px; text-align:center; margin-top:7px;}
.ruser_ques89 a{color:#1ebfc7;font-size:12px;}
.ruser_ques a{color:#fff;}
.r_drug {margin-bottom:23px;}
.r_drug li{float:left; margin:25px 17px 0 20px; height:112px;}
.r_drug li span{ display:block; font-family:"宋体"; margin-top:12px;}
.mBto20{ margin-bottom:20px;}
/*问答详情页 相关标签*/
.meb_lab { padding-left:9px;}
.meb_lab a{dispaly:block; float:left; width:49px; height:26px; line-height:26px; text-align:center; background:#ededed;margin:0 4px 8px 4px;}
.meb_lab .w77{ width:77px;}
.meb_lab .cord4{ background:#00d4dd;color:#fff;}
.quitr_doctor .mebotom{border-bottom:none;}
.mTop18{ margin-top:18px;}


