<!--快速提问 开始-->
        <div class="l-mod" id="l-mod">
            <div class="mebtop"></div>
            <div class="hd">
                <p><img  src="/ask/v1/images/meb_wrt6.png" alt="免费向万名医提问" title="免费向万名医提问"/></p>
                <div class="mebxle"><a><img src="/ask/v1/images/mebxh.png?v=20160427_01"></a></div>
            </div>
            <iframe src="http://ask.9939.com/ask/quick/" width="236" height="150" frameborder="0" scrolling="No"></iframe>
            <div class="mebbot"></div>
        </div>
        <!--快速提问 结束-->