@charset "utf-8";
/* CSS Document */
body {font-size: 12px; color:#6F6F6F; margin:0 auto;}
p, ul, li, h1, h2, h3, h4, h5, h6, span{margin:0px;padding:0px;list-style-type: none; font-size:12px;}
a{color:#7B7B7B; text-decoration:none;}
a:hover{color:#009933; text-decoration:underline;}
img{border:none;}
.jubao{ width:392px; height:249px; background:url(../images/confirmbei.gif) -201px -41px no-repeat; opacity:0.2;filter:alpha(opacity=20); -moz-opacity:0.2; position:absolute; z-index:1; text-indent:-999px; display:block;}
.jubao_doc{ width:378px; height:234px; background:url(../images/confirm02.gif) -437px -262px no-repeat; position:relative; z-index:9; left:7px; top:7px; }
#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#ffffff; cursor:wait;}
#simplemodal-container {height:249px; width:392px;  background-color:#ffffff;}
#simplemodal-container a {color:#ffffff;}
#simplemodal-container a:hover { text-decoration:none;}
#simplemodal-container a.modalCloseImg {background:url(../images/confirm02.gif) -798px -562px no-repeat; width:14px; height:14px;  z-index:3200; position:absolute; top:20px; right:20px; cursor:pointer;}
#simplemodal-container #basic-modal-content {}
.jubao_tit{ color:#ffffff; height:22px;  font-weight:bold; padding-top:15px; padding-left:11px; }
#define{ background:url(../images/confirm02.gif) -556px -715px no-repeat; width:70px; height:24px; text-align:center; color:#ffffff; line-height:24px; float:left; margin-right:15px; padding-top:1px;}
#define_a{ background:none;}

.jubao_con2{ width:280px; margin:0 auto 30px;  color:#272727; line-height:25px;}
.jubao_con2 p{ margin:50px 0 0 50px;}

.button{ width:70px; text-align:center; margin:0 auto;}
.simplemodal-close{ outline:none;}
.wrap{position:relative;}
.button{ text-align:center; margin:0 auto; zoom:1; }
.button1{ text-align:center; zoom:1; }
.button1 *{outline:0;zoom:1; background:#ffffff;}