@charset "utf-8";
/* CSS Document */
cite, i, em {font-style: normal;}
.dst{font-family:"宋体";}
.dyh{font-family:"Microsoft YaHei", SimHei;}
.cor666{color:#666;} 
.cor999{color:#999;}
.disban{padding:15px 19px 10px 22px;border:1px solid #e4e4e4;}
.disename {height:50px; overflow:hidden; line-height:46px;  margin-top: -3px;}
.disename h3{font-size:22px ;color:#333; font-weight:normal;  margin-top: -1px;}
.disename cite{font-size:16px;}
.disename .lookwik{ background:url(../images/dis_bd1.jpg?v=20151203_07) no-repeat 0 15px ; width:56px; display:inline;font-size:12px; text-align:center;}
.disename .lookwik a{color:#fff;}
.mr11{ margin-right:11px;}
.mr17{ margin-right:17px;}
.detail_nr{z-index:1; position:relative;z-index:50;background:#fff; height:72px;margin-bottom:43px; padding-bottom: 28px;}
.mT20{ margin-top:20px;}
.detail_nr .witshow{ position:relative;z-index:50;background:#fff; margin-top: 10px;}
.witshow   p{ line-height: 27px;text-indent:2em; font-size:12px;
  position: relative;
  z-index: 1;
  background: #fff;padding:0 16px 0 13px;}
.witshow  p a { color: #ff6600; text-decoration:none; display:inline; background: url(../images/dis_icon2.png?v=20151203_07) no-repeat 32px 1px; padding: 0 15px 0 2px;}
.detail_nr .accord p { border-bottom:1px solid #e4e4e4; padding-bottom:10px;}
.detail_nr .accord p a{background: url(../images/dis_icon2.png?v=20151203_07) no-repeat 32px -48px; }
.detail_nr  p i {color:#ff6600;}
.corf60{ color: #ff6600;}
/**/
.disnom{ border-top:1px solid #00d4dd;border-left:1px solid #e4e4e4;border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4; }
.disnom  form { padding: 17px 0 15px 17px; border:1px solid #F0F0F0; border-width: 0 1px 1px; }
.screen {float:left;}
.mT11 {margin-top: 11px;}
.ln32{ height:32px;line-height:32px;}
.answe {float:left; margin:0 12px 0 0; colo:#333;}
.answe input {margin-right:6px; margin-right:4px\9; position:relative; top:2px; width:13px; height:13px; }
.gender {float:left; width:84px; height: 29px; margin:0 0 0 10px; position:relative; z-index:2; border:1px solid #d5d5d5; padding-left:8px; }
.gender i {display:block; width:92px;height:29px;overflow:hidden;line-height:29px;white-space:nowrap; text-overflow:ellipsis;
 background: url(../images/dis_icon.png?v=20151203_07) no-repeat 65px 12px;position:relative; z-index:2; cursor:pointer;}
.gender i:hover{background: url(../images/dis_icon.png?v=20151203_07) no-repeat 65px -14px;}
.gender input {width:92px; height:18px; padding:0; position:absolute; top:-5000px; text-align:center;}
.gender ol {display:none; width:92px; overflow:hidden;border:1px solid #d5d5d5; border-top:0;position:absolute; left:-1px; top: 26px; z-index:1;}
.gender ol li {width:92px; height:28px; overflow:hidden; line-height:28px; text-align:center; color:#666; background:#fff; cursor:pointer;}
.gender ol .li_hover {color:#666; background:#f1f0f0;}
/*回答问题*/
.desnum{font-size:12px; margin-top:25px;}
.desnum .citre{color:#ff6600; font-size:18px; margin: -7px 6px 0 5px; font-weight:bold;font-family: "微软雅黑";}
.desnum span{float:left;}
.desnum i{ color:#ff6600;}
.probsolv{border:1px solid #e4e4e4; margin-top: 16px;padding-bottom: 32px;}
.disline{border-bottom:1px dashed #e8e7e7;}
.doc_anwer{ padding: 27px 16px 32px 18px;   height: 165px;}
.doc_anwer .subtit { height:20px; line-height:20px;position:relative;}
.doc_anwer .subtit b{background:url(../images/asico.png?v=20151203_07) no-repeat 0 3px; position:absolute; top:-1px; left:-19px; height:20px; width:6px;}
.doc_anwer .subtit a{font-size:18px; color:#000;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; width:450px; display:block;}
.doc_anwer .subtit span {font-size:12px; color:#ddccdd;}
.doc_anwer .subtit span  i{margin:0 9px;color:#666;}
.doc_anwer .subtit a font,.subtit a:hover{color:#ff6600; cursor:pointer;}
.drawall{margin-top: 29px;}
.mr27{ margin-right:27px;}
.drawall .jodoc{ width:62px;}
.drawall .jodoc .mT9{ margin-top:11px;}
.drawall .jodoc { text-align:center; }
.drawall .jodoc dt{border:1px solid #e5e5e5;}
.drawall .jodoc dt img{ width:60px; height:60px;}
.drawall .jodoc .askhim{width:66px; height:22px; background: url(../images/dis_bd3.jpg?v=20151203_07) no-repeat 0 0;  text-align:center; line-height:22px;font-size:12px;}
.drawall .jodoc .askhim a{color:#ff6600;}
.drawall .doctext{ width:553px;}
.drawall .doctext p{ font-size:14px; color:#333; background:#eee; padding:14px 17px; line-height:29px; position:relative; zoom:1; height:58px;
width:523px;}
.drawall .doctext p i{ position:absolute; top:39%; left:-7px;background:url(../images/dis_jt2.jpg?v=20151203_07) no-repeat; width:7px;  height:15px;margin-top: -7px;}
.drawall .doctext p a{ color:#ff6600; margin-left:7px;}
.doctext .mT19 .txtno{text-decoration:none; color:#666; cursor:pointer;}
.doctext .xgtag{background: url(../images/vblab.gif?v=20151203_07) no-repeat 0 3px; padding-left:23px;height:20px; line-height:20px;}
.doctext .xgtag a{ margin-right:7px; font-size:12px;color:#666;}
.xgtag a:hover{color:#ff6600; text-decoration:underline;}
.doctext .mebtime{background: url(../images/mezb.jpg?v=20151203_07) no-repeat 0 5px;  padding-left:20px; margin-left:15px;}
.doctext .mT19{ margin:16px 0 0 13px; }
.doctext .descn{background: url(../images/dis_bd4.jpg?v=20151203_07) no-repeat ;width:36px;font-size:12px; height:23px; line-height:22px;display:block;color:#fff; padding:0 15px 0 7px;} 
.h23{ height:23px; line-height:23px;}
.page{ text-align:center; font-size:0; margin-top: 27px;}
.page a{ display:inline-block; border:1px solid #d7d7d7; font-size: 16px; color:#000; min-width:18px; padding:0 4px; height:28px; line-height:28px; vertical-align:top; margin:0 5px 0 0;font-family:"Microsoft YaHei";}
.page a:hover,.page a.current{ text-decoration:none;background:#1ebfc7; color:#fff;}
.page .lpage_a{ width:85px; font-size: 14px; text-align:center;font-family:"Microsoft YaHei";}
/*健康图谱*/
.issues{border: 1px solid #e5e5e5; padding:16px 15px 0 15px; margin-top:20px;}
.issues .mT15{margin-top:15px;}
.issues .lw5{background:url(../images/asico.png?v=20151203_07) no-repeat 0 4px; padding-left:15px;font-family:"Microsoft YaHei";font-weight:normal; overflow:hidden; } 
.issues .lw5 a{font-size:18px;color:#1ebfc7;text-decoration:none;}
.phopr13{ padding:16px  0 0 15px;}
.mepho li{ float:left; margin-right:13px; margin-bottom:16px; }
.mepho li a img{ border:1px solid #e4e4e4;}
.mepho li img{ width:150px; height:100px;}
.mepho li span{ display:block;margin-top:10px;}
/*新添*/
.mhod{ margin-top:11px;}
.mhod2{ margin-top:44px;}
