/** 鍖呮嫭reset銆乫ont 鏉ユ簮YUI **/
/* reset */
html {
	color: #000;
	background: #FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}
li {
	list-style: none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
q: before,q: after {
	content: '';
}
abbr,acronym {
	border: 0;
	font-variant: normal;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input,textarea,select {
	*font-size: 100%;
}
legend {
	color: #000;
}
/* font */
body {
	font:12px/1.231 arial,helvetica,clean,sans-serif;
}
select,input,button,textarea {
	font:100% arial,helvetica,clean,sans-serif;
}
table {
	font-size:inherit;
	font:100%;
}
pre,code,kbd,samp,tt {
	font-family:monospace;
	line-height:100%;
}
/* base*/
body {
	margin: auto;
	text-align: center;
}
img {
	-ms-interpolation-mode: bicubic;
}
label,button {
	cursor: pointer;
	_cursor: hand;
}
button {
	overflow: visible;
}
abbr[title],acronym[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
input[type="hidden"] {
	display: none!important;
}
em,.em {
	font-style: italic;
}
strong,.strong {
	font-weight: bold;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1, .h1 {
	font-size: 18px;
	font-weight: bold;
}
h2, .h2 {
	font-size: 16px;
	font-weight: bold;
}
h3, .h3 {
	font-size: 14px;
	font-weight: bold;
}
h4, .h4 {
	font-size: 14px;
	font-weight: normal;
}
h5, .h5 {
	font-size: 12px;
	font-weight: normal;
}
h6, .h6 {
	font-size: 12px;
	font-weight: normal;
}
.fix {
	*zoom: 1;
}
.fix:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.k-display-none {
	position: absolute;
	visibility: hidden;
	*display: none;
}
.k-inline-block {
	display: inline-block;
	display: -moz-inline-stack;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	position: relative;
	*position: static;
}
.k-word-break-all,.k-break-word {
	word-wrap: break-word;
	overflow: hidden;
}
.k-inline-block-icon {
	display: inline-block;
	display: -moz-inline-stack;
	*display: inline;
	zoom: 1;
	padding: 0;
	vertical-align: middle;
	font-size: 0;
	line-height: 9999em;
	overflow: hidden;
	position: relative;
	*position: static;
}
/* default padding 5px*/
.padding {
	padding: 5px !important
}
.tPadding {
	padding-top: 5px !important
}
.rPadding {
	padding-right: 5px !important
}
.bPadding {
	padding-bottom: 5px !important
}
.lPadding {
	padding-left: 5px !important
}
.hPadding {
	padding-left: 5px !important;
	padding-right: 5px !important
}
.vPadding {
	padding-top: 5px !important;
	padding-bottom: 5px !important
}
/* large padding 10px*/
.lPaddingLg {
	padding-left: 10px !important
}
.hPaddingLg {
	padding-left: 10px !important;
	padding-right: 10px !important
}
.vPaddingLg {
	padding-top: 10px !important;
	padding-bottom: 10px !important
}
.tPaddingLg {
	padding-top: 10px !important
}
.rPaddingLg {
	padding-right: 10px !important
}
.bPaddingLg {
	padding-bottom: 10px !important
}
/* margins*/
.margin {
	margin: 5px !important
}
.tMargin {
	margin-top: 5px !important
}
.rMargin {
	margin-right: 5px !important
}
.bMargin {
	margin-bottom: 5px !important
}
.lMargin {
	margin-left: 5px !important
}
.hMargin {
	margin-left: 5px !important;
	margin-right: 5px !important
}
.vMargin {
	margin-top: 5px !important;
	margin-bottom: 5px !important
}
/* large margins*/
.tMarginLg {
	margin-top: 10px !important
}
.rMarginLg {
	margin-right: 10px !important
}
.bMarginLg {
	margin-bottom: 10px !important
}
.lMarginLg {
	margin-left: 10px !important
}
.hMarginLg {
	margin-left: 10px !important;
	margin-right: 10px !important
}
.vMarginLg {
	margin-top: 10px !important;
	margin-bottom: 10px !important
}
/*  grid 婧愪簬taobao銆亂ui */
#doc {
    padding: 0 10px;
    text-align:left;
}
#hd, #bd, #ft {
	text-align:left;
	width:950px;
    margin-left: auto;
    margin-right: auto;
}
/* 椤甸潰瀹藉害涓?750px */
.w750 #hd, .w750 #bd, .w750 #ft,
#bd.w750 {
    width: 750px;
}
/* 椤甸潰瀹藉害涓?950px */
.w950 #hd, .w950 #bd, .w950 #ft,
#bd.w950 {
    width: 950px;
}
/** 甯冨眬鍩虹鏍峰紡 **/
.col-m {
    float: left;
    width: 100%;
    min-height: 1px;
}
.m-wrap {
    position: relative;
}
.col-s, .col-e {
    float: left;
    position: relative;
}

#hd,#bd,#ft,.m-wrap,.l-fix,.col-s, .col-e {
    *zoom: 1;
}
#hd:after,#bd:after,#ft:after,.l-fix:after,.m-wrap:after, .col-s:after, .col-e:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.l-fix{
	*position:relative;
}
.g-s6m0 .m-wrap { margin-left: 240px; }
.g-s6m0 .col-s { width: 230px; margin-left: -100%; }

.g-s8m0 .m-wrap { margin-left: 320px; }
.g-s8m0 .col-s { width: 310px; margin-left: -100%; }
.g-m0s8 .m-wrap { margin-right: 320px; }
.g-m0s8 .col-s { width: 310px; margin-left: -310px; }

/* g-line */
.g-line, .g-lastu {overflow: auto;_overflow:visible;_zoom:1; }
.g-u{float:left;_zoom:1;}
.s1of1{float:none;}
.s1of2{width:50%;}
.s1of3{width:33.33333%;}
.s2of3{width:66.66666%;}
.s1of4{width:25%;}
.s3of4{width:75%;}
.s1of5{width:20%;}
.s2of5{width:40%;}
.s3of5{width:60%;}
.s4of5{width:80%;}
.g-lu {float:none;_position:relative; _left:-3px; _margin-right: -3px;width:auto;}
/* mod */
.mod .hd,.mod .bd,.mod .ft{overflow:hidden;_overflow:visible; _zoom:1;}
.mod .top,.mod .bottom,.mod .tl,.mod .tr,.mod .bl,.mod .br{display:block;background-repeat:no-repeat;font-size:1%;position:relative;z-index:10;}
.mod .tl,.mod .tr,.mod .bl,.mod .br{height:10px; width:10px;float:left;}
.mod .tl{background-position: left top;}
.mod .tr{background-position: right top;}
.mod .bl{background-position: left bottom;} 
.mod .br{background-position: right bottom;}
.mod .br,.mod .tr{float:right;}
.mod .tr,.mod .tl{overflow:hidden;margin-bottom:-32000px;}
.mod .bl,.mod .br{margin-top:-10px;}
.mod .top{background-position:center top;}
.mod .bottom{background-position:center bottom;_zoom:1;}