.g-m0s8 .m-wrap {margin-right:320px;}
.g-m0s8 .col-s {margin-left:-310px;width:310px;}

.boxl{border:3px solid #c2def4;padding-bottom:10px}
.lw-modzz01 .hd{padding:33px 0 0 129px;background:url(../images/curIcon.png) no-repeat 40px 10px;font-size:14px;color:#f16b0c;font-weight:bold}
.lw-modzz01 .hd a{display:block;padding:10px 0 20px 96px;border-bottom:1px dashed #cdcdcd}
.lw-modzz01 .bd{padding:25px;line-height:2.2em;border-bottom:1px solid #cbc9cc}
.lw-modzz01 .bd .title{color:#84201e;}
.lw-modzz01 .bd .ltitle{color:#9d9d9d;padding-right:20px}
.lw-modzz01 .bd .rtitle{padding-right:10px}
.lw-modzz01 .bd .inp,.lw-modzz03 .inp{border:1px solid #dcdcdc;padding:1px;width:65px}
.lw-modzz01 .bd .subBtn{width:34px;height:20px;background:url(../images/subBtn.png) no-repeat;border:none;margin-left:5px;}
.lw-modzz02{ background:#c4ddf1;padding:10px 29px;border-top:1px dashed #cbc9cc;}
.lw-modzz02 span{float:left;padding-right:10px;line-height:25px}
.lw-modzz02 a{float:left;margin-left:10px;background:url(../images/btnBg.png) no-repeat;width:130px;line-height:25px;text-align:center}
.lw-modzz03 .hd{border-top:1px dashed #cbc9cc;border-bottom:2px solid #c1ddf3;padding:15px 27px;line-height:1.9em}
.lw-modzz03 h2{font-size:14px;margin-bottom:10px}
.lw-modzz03 h3{color:#e46e0e;margin-bottom:3px;font-size:16px}
.lw-modzz03 .inp{width:100px;margin-top:3px}
.lw-modzz03 .subBtn{ background:url(../images/yicon.png) no-repeat;width:96px;height:19px;border:none;margin-top:3px}
.lw-modzz03 .hd .lline{background:url(../images/rline.png) no-repeat left;}
.lw-modzz03 .tip{color:#9b9b9b}
.lw-modzz03 .tip span{padding-left:3em}
.lw-modzz03 .bd{padding:10px 0 0 0;line-height:1.9em;margin-bottom:-1px}
.lw-modzz03 .bd h2{padding-left:26px;}
.lw-modzz03 .bd a{display:block;background:url(../images/doticon.png) no-repeat 32px 5px;border-bottom:1px dashed #cecece;padding-left:46px;color:#20275b;font-size:14px}
.boxr{border:1px solid #d5d5d5;padding:10px 5px;}
.lw-modzz04{line-height:1.8em}
.lw-modzz04 .ttitle{background:url(../images/personicon.png) no-repeat;padding:0 0 0 40px;font-size:14px;}
.lw-modzz04 .box{margin:0 5px;border:1px solid}
.lw-modzz04 .box .hd{line-height:37px;color:#fff;font-family:"黑体";padding-left:10px;font-size:20px}
.lw-modzz04 .box .bd{ background:#fff;padding:10px;margin:0 5px 5px 5px;}
.lw-modzz04 .n1{border-color:#caab58;background:#fcb80d}
.lw-modzz04 .n2{border-color:#d48633;background:#ff7a01}
.lw-modzz04 .n3{border-color:#c05660;background:#f04651}
.lw-modzz04 .n4{border-color:#267699;background:#0085c0}
.lw-modzz04 .n5{border-color:#3093b0;background:#02a4d2}